<app-menu></app-menu>

<router-outlet></router-outlet>

<!-- <div class="text-layout">

    <h1>{{nombre | titlecase}}</h1>
    <h1>{{valor | number}}</h1>

</div>

<button pButton class="p-button-help" icon="pi pi-id-card" iconPos="right" (click)="mostrarNombre()" label="Mostrar Nombre"></button>

<p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At dignissimos eum obcaecati repellat veniam nisi voluptatem perspiciatis deleniti, aspernatur, reprehenderit voluptas quibusdam tempore nobis voluptatum saepe nam sit sint nostrum.
</p-card> -->